{% extends "ShopifyAdminBundle::layout.html.twig" %}

{% block title %}Add an item to the demo store{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
<div class="text-center">	

 </table> 
</div> 
</div>
{% endblock %}