{% extends "ShopifyAdminBundle::layout.html.twig" %}



{% block content %}
<br><br><br> <!-- quick fix -->
<div class="container">
  <div class="text-center">	
  </div>
  <div class="panel panel-default">
    <table class="table">
      <th >title</th>
      <th>submitted by</th>
      <th>image</th>
      <!--ul class="list-group"-->
      {% for product in products %}
      <!--li class="list-group-item"-->
      <tr>
      	<td><a href="{{ path('submission_send', { 'id': product.id }) }}">{{product.title}}</a></td>
        <td>vendor</td>
        <td><img src='{{product.image}}' width="50" height="50"/></td>
      </tr>
      <!--/li-->
      {% endfor %}
      <!--/ul-->
    </table> 
  </div> 
</div>
<br><br><br><br><br><br><br><br><!-- quick fix -->
{% endblock %}